* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {

	font-size: 62.5%;
}

body {
	font-family: $body-default-font-family;
	font-size: $base-font-size;
	color: $body-color;
	background-color: $body-background-color;
}

a {
	color: $body-color;
}

h1 {
	font-weight: 300;
	margin-bottom: $space;
}

h2 {
	font-size: 1.8rem;
	margin-bottom: $space;
}

p {
	margin-bottom: $space;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
	border: 1px solid $input-border;
	font-family: $body-default-font-family;
	font-size: $base-font-size;
	color: $body-color;
	margin-bottom: $space;
	padding: $input-spacing;
}