.header {
	background: $header-background;
	color: $header-color;
}

.header__content {
	display: flex;
	height: $header-height;
	max-width: $site-max-width;
	margin: 0 auto;
	padding: $space;
	align-items: center;
	justify-content: space-between;
}

.header__title {
	margin: 0;
}

.header__nav-toggle {
	cursor: pointer;
	height: 2rem;
	width: 2rem;

	@include desktop {
		display: none;
	}
}