.page-content {
	display: flex;
	height: $page-content-height;
	max-width: $site-max-width;
	margin: 0 auto;

	@include desktop {
		padding: $large-space $space;
	}
}

.page-content__sidebar {
	display: none;
	width: $page-content-sidebar-width;
	padding-right: $large-space;

	@include desktop {
		display: flex;
	}
}

.page-content__main {
	display: flex;
	width:  100%;

	@include desktop {
		width: $page-content-main-width;
	}
}

/*
@media (min-width: 50rem) {
	.page-content {
		padding: $large-space $space;
	}

	.page-content__sidebar{
		display: flex;
	}

	.page-content__main {
		width: $page-content-main-width;

		@include funkyBorder(20px, purple);
	}
}
*/

.filters {
	display: block;
	margin-bottom: $space;
}

.filters__checkbox {
	margin-right: $space / 2;
	margin-bottom: 0;
	vertical-align: middle;
}

.filters__label {
	font-style: italic;
	vertical-align: middle;
}