.page-content {
	display: flex;
	height: $page-content-height;
	width: $site-max-width;
	margin: 0 auto;
	padding: $large-space $space;
}

.page-content__sidebar {
	display: flex;
	width: $page-content-sidebar-width;
	padding-right: $large-space;
}

.page-content__main {
	display: flex;
	width: $page-content-main-width;
}

.filters {
	display: block;
	margin-bottom: $space;
}

.filters__checkbox {
	margin-right: $space / 2;
	margin-bottom: 0;
	vertical-align: middle;
}

.filters__label {
	font-style: italic;
	vertical-align: middle;
}